
<div class="row">
    <div class="text-center">
        <h2 class="" >Register As:</h2>
        <div class="container-fluid">
            <a asp-controller="Account" asp-action="RegisterUser" class="btn btn-primary btn-lg active" style="padding-left: 33px;padding-right: 35px;"  role="button" aria-pressed="true">User</a>
            <a asp-controller="Account" asp-action="RegisterCompany" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Company</a>
        </div>
    </div>
</div>
