
<div class="row">


    <div class="container-fluid row">
        <div class="col-md-5">
            <a asp-controller="Account" asp-action="RegisterUser" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Register as User</a>
        </div>
        <div class="col-md-7">
            <a asp-controller="Account" asp-action="RegisterCompany" class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Register as Company</a>
        </div>
    </div>


</div>
