body {
    background-image: url(../img/background.png);
}

.customJumbotron {
   
    background-size :cover
}

.myjobs{
    margin-right :12px;
}


.layoutMargin {
    margin-top: 12px;
}

.howCol{
    margin-right: 20px;
}

.mytext {
    width: 140px;
}

#element1 {
    display: inline-block;
    margin-right: 300px;
    width: 200px;
 
}

#element2 {
    display: inline-block;
    width: 200px;
 
}



.companyProfile {
    width:900px;
    margin:0 auto;
    height:300px;
}

.workingAreas{
    margin-left:506px;
}

.bgdark{
    border-top : 3px;
}

.customFooter {
    background-color: #F2F2F2;
   
}
