@model Project.Web.Areas.Company.ViewModels.ProfileDetailsViewModel
<div class="row form-control ">
    <div class="col">
        <h3 class="text-center">@Model.Name</h3>
        <hr />

        @for (int i = 0; i < 5; i++)
        {
            if (i < Model.Rating.AverageRating)
            {
                <span class="fa fa-star checked"></span>
            }
            else
            {
                <span class="fa fa-star"></span>
            }

        }

        <p>@Model.Rating.AverageRating.ToString("F1") average based on @Model.Rating.CountOfVotes reviews.</p>

        <div class=" form-control half-width  d-flex justify-content-between jobDetailsInfo">
            <h5>
                Email:@Model.Email
            </h5>
            <h5>Working Areas:@Model.Categories</h5>
        </div>

    </div>


        <h5 class="text-center">@Model.Description</h5>
   

</div>