@using Microsoft.AspNetCore.Identity
@using Project.Models;

@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager

@if (SignInManager.IsSignedIn(User))
{
    
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link"  asp-area ="" asp-controller="Account" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
  
}
else
{
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link" asp-area ="" asp-controller="Account" asp-action="Register">Register</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"  asp-area ="" asp-controller="Account" asp-action="Login">Login</a>
            </li>
        </ul>
    </div>
}