<div class="row">
    <div class="col form-control howCol">
        <h2 class="text-center ">User</h2>
        <hr />
        <p><b>HouseWork is the easiest way to find the right company for your house needs.</b></p>
        
        <h4>If you register as User u can:</h4>
        <ul>
            <li>Create Jobs.</li>
            <li>View offers from companies.</li>
            <li>Choose the best offers.</li>
            <li>Accept Offers.</li>
            <li>Rate Companies.</li>
        </ul>
    </div>
    <div class="col form-control">
        <h2 class="text-center">Company</h2>
        <hr />
        <p><b>HouseWork is the fastest way to find work for your company without much effort.</b></p>
        <h4>If you register as Company u can:</h4>
        <ul>
            <li>Browse jobs in your work fields.</li>
            <li>Create offers for jobs.</li>
        </ul>
        <p><b>At HouseWork companies have rating, higher rating gives your more chance of sealing a deal!</b></p>
    </div>
</div>
