
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron customJumbotron">
    <h1 class="display-4">Welcome to HouseWork!</h1>
    <p class="lead">The right place for you to find the best companies!</p>
    <hr class="my-4">
    <p>Or find work for your company!</p>
    <a class="btn btn-primary btn-lg" href="/Home/How" role="button">How it works?</a>
</div>

